<template lang="pug">
b-container.cont(fluid)
    b-row.row
        b-col(:cols="leftCols")
            b-aspect.video(
                :aspect="aspect"
                tag="video"
                src="/VID_20200501_191745.mp4"
                width="640"
                controls
            )
        b-col(:cols="rightCols")
    b-row.row
        b-col(:cols="leftCols")
            p.hello &nbsp; &nbsp; В условиях глобального кризиса сегодня как никогда важно поддерживать в рабочем состоянии свой грузовик, погрузчик и другую спецтехнику. Ведь они являются не только средством дохода, но иногда и единственным средством выживания. Своевременный ремонт всегда лучше запоздалого, и зачастую выгоднее приобретения нового транспорта. С учетом того, что современная грузовая и спецтехника стала весьма сложной и компьютеризированной, постоянно требуется грамотная и профессиональная диагностика и ремонт. Грамотный специалист сэкономит вам много времени, денег и нервов.
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            heading
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            skills
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            specificity
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            servicetypes
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            types
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            fix
        b-col(:cols="rightCols")
    b-row.row
        b-col.left-col(:cols="leftCols")
            order
        b-col(:cols="rightCols")
</template>

<script>
import Heading from '~/components/Heading.vue';
import Skills from '~/components/Skills.vue';
import Specificity from '~/components/Specificity.vue';
import Servicetypes from '~/components/Servicetypes.vue';
import Types from '~/components/Types.vue';
import Fix from '~/components/Fix.vue';
import Order from '~/components/Order.vue';

export default {
  components: {
    Heading,
    Skills,
    Specificity,
    Servicetypes,
    Types,
    Fix,
    Order,
  },
  data() {
    return {
      leftCols: 12,
      rightCols: 0,
      aspect: '16:9',
    };
  },
};
</script>

<style lang="styl">
.row
    margin-bottom 42px
.video
    margin 0 auto
.left-col
  text-align center
.cont
  margin-top 72px
  padding 20px
  pmin-height 100vh
  justify-content center
  align-items top
  text-align center
.hello
  color #35495e
  text-align justify
  font-family 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
</style>
