<template lang="pug">
div
    #fix
    h3 Какие неисправности мы устраняем
    p.text
        ul
            li Не заводится двигатель
            li Нет зарядки
            li Двигатель не реагирует на газ
            li Не горят стоп-сигналы
            li Горит ошибка АБС
            li Двигатель не набирает обороты
            li Не включаются скорости АКПП
            li Троит двигатель
            span и др.
</template>

<script>
export default {};
</script>

<style lang="styl" scoped>
#fix
    display flex
    margin-top -120px
    margin-bottom 120px
    pointer-events none
.text
    line-height 1.9em
    text-align center
    font-size 1.1em
ul
    margin 10px auto 40px 50px
    display flex
    flex-direction column
    text-align left
</style>
