<template lang="pug">
div
    h4 Содержание страницы
    .heading
        ul
            li
                a(href="/#skills") Что мы умеем
            li
                a(href="/#specificity") Наша специфика
            li
                a(href="/#servicetypes") Виды услуг
        ul
            li
                a(href="/#types") Обслуживаемая техника
            li
                a(href="/#fix") Какие неисправности мы устраняем
            li
                a(href="/#order") Порядок обслуживания

</template>

<style lang="styl">
.heading
   display flex
   flex-direction row
   justify-content center
   text-align left
   ul
       margin 10px 42px
       li
         margin 5px
</style>
