<template lang="pug">
div
    #order
    h3 Порядок обслуживания
    p.text &nbsp; &nbsp; Мы осуществляем ремонт электрооборудования автомобилей, как правило, выезжая к клиенту, либо на указанное клиентом место стоянки сломанного автомобиля. Обслуживаем многие автотранспортные предприятия, для которых наиболее рентабельным и эффективным является пользоваться нашими услугами, чем содержать штатного автоэлектрика, ведь найти профессионального специалиста для приема на работу, задача довольно сложная. Относимся добросовестно и ответственно к выполняемой работе. Заключаем долгосрочные договора на обслуживание с частными грузоперевозчиками, также со следующими организациями:
        ul
            li Автотранспортные предприятие
            li Дорожные и строительные организации
            li Грузовые автосервисы
            li Предприятия по сбору ТБО
            li Пункты приема металлолома
        span &nbsp; &nbsp; Если требуется ремонт, его стоимость определяется после проведенной диагностики, в соответствии с прайс-листом  или, в зависимости от сложности и времени ремонта, по договору. При заключении договора, на последующие заказы предоставляется скидка. Для крупных автотранспортных, строительных предприятий существуют специальные предложения. Работаем по Москве и Московской области по срочной схеме, то есть выезд в день обращения. По регионам работаем в плановом режиме, сроки согласуются отдельно. Выезды на ремонт грузовиков и спецтехники осуществляем  по всей территории России.

        span Если у Вас вышла из строя техника, то при обращении в нашу диспетчерскую службу необходимо сообщить следующую информацию:
        ul
            li Модель техники
            li Год выпуска
            li Характер неисправности
            li Состояние АКБ
</template>

<script>
export default {};
</script>

<style lang="styl" scoped>
#order
    display flex
    margin-top -120px
    margin-bottom 120px
    pointer-events none
.text
    line-height 1.9em
    text-align justify
    font-size 1.1em
ul
    margin 10px auto 40px 50px
    display flex
    flex-direction column
    text-align left
</style>
