<template lang="pug">
div
    #servicetypes
    h3 Виды услуг
    p.text
        ul
            li Первичная диагностика электросистем по косвенным признакам
            li Углубленная диагностика электрических жгутов и блоков управления
            li Компьютерная диагностика, программирование, активации и тесты
            li Выездная диагностика в любой регион
            li Ремонт электропроводки, разъемов, жгутов, пинов
            li Ремонт элементов системы управления, датчиков, контакторов, джойстиков
            li Ремонт электронных блоков управления
    h3 Системы, которые мы диагностируем и ремонтируем
    p.text
        ul
            li Предпусковой подогрев
            li Система управления двигателем
            li Система пуска и заряда
            li Топливная система дизель и бензин
            li Система бортовой электроники и освещения
            li Система отопления и комфорта
            li Развлекательная система и мультимедиа
            li Охранная система
            li Пневматическая система
            span и мн. др.
</template>

<script>
export default {};
</script>

<style lang="styl" scoped>
#servicetypes
    display flex
    margin-top -120px
    margin-bottom 120px
    pointer-events none
.text
    line-height 1.9em
    text-align center
    font-size 1.1em
    ul
        margin 10px auto 40px 50px
        display flex
        flex-direction column
        text-align left
</style>
