<template lang="pug">
div.skills
    #skills
    h3 Что мы умеем
    p.text
        span &nbsp; &nbsp; Наш коллектив профессиональных автоэлектриков специализируется на диагностике электронных систем грузовых автомобилей и спецтехники, их ремонте и обслуживании. Осуществляем квалифицированную диагностику, в том числе на выезде, ремонтируем блоки управления и электропроводку в составе автомобиля.
        span  Используем профессиональные дилерские сканеры.
        span  Кроме того занимаемся диагностикой пневмо-систем и топливной системы автомобилей.
        span  Можем на выезде решить проблему с запуском и оживить умерший автомобиль.
</template>

<script>
export default {};
</script>

<style lang="styl" scoped>
.skills
    pointer-events none
#skills
    display flex
    margin-top -120px
    margin-bottom 120px
    pointer-events none
.text
    text-align justify
</style>
