<template lang="pug">
div
    #specificity
    h3 Наша специфика
    p.text
        span &nbsp; &nbsp; Как правило, предпочитаем работать на выезде и беремся за ремонты автомобилей, от которых большинство электриков отказываются. Все потому, что мы все работаем за идею и интерес в первую очередь, и это наше преимущество.
        span  Работаем на результат, ищем решение удобное нашим клиентам, делаем заказы практически любой сложности.
        span  Мы узкие специалисты по авто-электрике, топливным и пневмо-системам, и делаем свою работу аккуратно, быстро, профессионально.
</template>

<script>
export default {};
</script>

<style lang="styl" scoped>
#specificity
    display flex
    margin-top -120px
    margin-bottom 120px
    pointer-events none
.text
  text-align justify
</style>
