<template lang="pug">
div
    #types
    h3 Обслуживаемая техника
    h5 Грузовые автомобили
    p.text
        ul
            li MAN
            li DAF
            li SCANIA
            li MERCEDES
            li IVECO
            li RENAULT
            li VOLVO
            li КАМАЗ
            span и др.
    h5 Прицепы
    p.text
        ul
            li Ali Riza Usta
            li Bodex
            li Bonum
            li Foxtank
            li Grunwald
            li Kassbohrer
            li Kogel
            li Krone
            span и др.
    h5 Спецтехника
    p.text
        ul
            li Строительная техника
            li Автобусы
            li Тягачи
            li Самосвалы
</template>

<script>
export default {};
</script>

<style lang="styl" scoped>
#types
    display flex
    margin-top -120px
    margin-bottom 120px
    pointer-events none
.text
    line-height 1.9em
    text-align center
    font-size 1.1em
    ul
        margin 10px auto 40px 50px
        display flex
        flex-direction column
        text-align left
</style>
