<template lang="pug">
  div
    .topline
    b-navbar.nbar(toggleable="md" type="light" variant="light" sticky)
        b-navbar-brand(href="#")
            img.logo(src="/RusDizel.jpg" width="200")
        b-navbar-toggle(target="nav-collapse")
        b-collapse#nav-collapse(is-nav)
            b-navbar-nav
                b-nav-item(to="/") Главная
                b-nav-item(to="/services") Услуги
                b-nav-item(to="#") Наши работы
    .trucs
      p
          span РЕМОНТ ЭЛЕКТРИКИ И ЭЛЕКТРОННЫХ БЛОКОВ ГРУЗОВИКОВ И СПЕЦТЕХНИКИ
          br
          span ДИАГНОСТИКА ЭЛЕКТРОНИКИ, ТОПЛИВНЫХ СИСТЕМ И ПНЕВМАТИКИ
    nuxt
</template>

<style lang="styl" scoped>
.trucs
    top 42px
    color #fcfcfc
    text-align center
    padding 10px 0
    background-color rgba(75,70,149,1)
    background-image url(/heder-35.jpg)
    background-repeat repeat-x
    background-position center top
    background-size cover
    position relative
    min-height 72px
    line-height 26px
.logo
    margin -13px 13px -13px -16px
.nbar
    background white !important //-TODO: Сделать цвет логотипа соответственно теме и убрать это
    top 42px
.topline
    width 100%
    height 42px
    position fixed
    z-index 99999
    background #4b4597
html
  font-family 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif
  font-size 16px
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

*,
*:before,
*:after
  box-sizing border-box
  margin 0

.button--green
  display inline-block
  border-radius 4px
  border 1px solid #3b8070
  color #3b8070
  text-decoration none
  padding 10px 30px

.button--green:hover
  color #fff
  background-color #3b8070

.button--grey
  display inline-block
  border-radius 4px
  border 1px solid #35495e
  color #35495e
  text-decoration none
  padding 10px 30px
  margin-left 15px

.button--grey:hover
  color #fff
  background-color #35495e
</style>
